* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #E2E8F0;
}

/* Para Chrome, Safari, Edge e Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html,
body {
    margin: 0;
    min-height: 100vh;

}

/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: textfield;
}

body {
    background: radial-gradient(circle at center, #2D2A81 1%, #0F152A 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 70px;
    background-color: #141A30;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo-energy-cost {
    margin-top: 16px;
    margin-left: 64px;
    width: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
    min-height: 100%;
    padding: 24px 20px;
    margin-top: 78px;
    background-color: rgba(34, 37, 81, 0.83);
    border: 6px solid #2A287A;
    border-radius: 17px;
    box-shadow: inset 0 0 15px rgba(42, 40, 122, 0.5),
        0 0 10px #2A287A,
        0 0 20px #2A287A,
        0 0 40px rgba(42, 40, 122, 0.6);
}

.titulo {
    margin-top: 5px;
    text-align: center;
    font-size: 1.4rem;
    word-wrap: break-word;
    margin-bottom: 15px;
    font-weight: 900;
}

.box-one,
.box-two,
.box-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.icon-one,
.icon-two,
.icon-three {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 340px;
    height: 30px;
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 26px;
}

#select,
#horas-de-uso,
#valor-do-kwh {
    width: 100%;
    height: 48px;
    border: 1px solid #7d5fff;
    border-radius: 12px;
    background-color: #222640;
    outline: none;
    padding-left: 35px;
    font-size: 20px;
    cursor: pointer;
    color: #B9BBBE;
}

input::placeholder {
    font-size: 16px;
}

#select {
    background: linear-gradient(90deg, #2D369D 0%, #643CC6 100%);
    font-size: 16px;
}

#select option {
    background-color: #1e1e36;
}

#valor-potencia {
    width: 100%;
    height: 48px;
    border: 1px solid #7d5fff;
    border-radius: 12px;
    background-color: #222640;
    outline: none;
    padding-left: 35px;
    font-size: 20px;
    cursor: pointer;
    color: #B9BBBE;
    margin-top: 5px;
}

#select:focus,
#valor-potencia:focus,
#horas-de-uso:focus,
#valor-do-kwh:focus {
    box-shadow: 0 0 8px rgba(125, 95, 255, 0.4);
}


h4 {
    font-size: 1rem;
}


.tomada {
    height: 23px;
}

.clock,
.refresh {
    height: 20px;
}



button {
    width: 270px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, #2D369D 0%, #643CC6 100%);
    margin-top: 27px;
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    opacity: 0.8;
    box-shadow: 0 0 8px rgba(125, 95, 255, 0.4);
}

.result {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 4px;
}

.tomada-verde-box,
.calender-verde-box,
.banco-verde-box {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.calender-verde-box {
    margin: 10px 0;
}

.tomada-verde,
.calender-verde,
.banco-verde {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tomada-verde img,
.calender-verde img,
.banco-verde img {
    height: 25px;
}

.titulo-verde-one,
.titulo-verde-two,
.titulo-verde-three {
    font-size: 16px;
}

.numero-verde-one,
.numero-verde-two,
.numero-verde-three {
    color: #A9E06D;
    font-size: 21px;
    font-weight: 700;
}

.numero-verde-one {
    display: flex;
    align-items: center;
}

footer,
p {
    margin-top: 4px;
    font-size: 0.7rem
}



@media (max-width: 768px) {


    html,
    body {
        min-height: 100%
    }


    header {
        position: fixed;
        height: auto;
        padding: 10px 0;
    }

    .logo-energy-cost {
        margin: 20px auto 3px auto;
        display: block;
        width: 200px;

    }

    .container {
      width: 95%;
      max-width: 420px;
      margin: 110px auto 20px auto;
      padding: 20px 16px;
      border: 3px solid #2A287A;
      border-radius: 17px;
  }


    .titulo {
        font-size: 1.2rem;
        padding: 0 10px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .box-one,
    .box-two,
    .box-three {
        width: 85%;
    }

    .icon-one,
    .icon-two,
    .icon-three {
        width: 100%;
        max-width: 300px;
        margin-left: 0;
    }

    h4 {
        font-size: 0.9rem;
    }

    #select,
    #valor-potencia,
    #horas-de-uso,
    #valor-do-kwh {
        height: 50px;
        font-size: 16px;
        padding-left: 15px;
    }


    input::placeholder {
        font-size: 12px;
    }

    #select {
        font-size: 12px;
    }

    button {
        max-width: 220px;
        height: 50px;
        font-size: 18px;
        margin: 25px auto 30px auto;
        display: block;
    }

    .result {
        width: 90%;
    }

    .tomada-verde-box,
    .calender-verde-box,
    .banco-verde-box {
        padding-left: 6px;
        padding-right: 6px;
        align-items: center;
        gap: 5px;
    }

    .titulo-verde-one,
    .titulo-verde-two,
    .titulo-verde-three {
        font-size: 15px;
    }

    .numero-verde-one,
    .numero-verde-two,
    .numero-verde-three {
        font-size: 18px;
    }

    footer {
        margin-top: 7px;
        margin-bottom: 23px;
        text-align: center;
        font-size: 12px;

    }
}


@media (max-width: 370px) {
    .titulo {
        font-size: 1.1rem;
    }

    button {
        font-size: 18px;
    }
}